.header {
    padding: 1rem 2rem;

    @include desktop {
        .location img,
        .time img,
        .phone img {
            display: none;
        }
    }
    
    @include laptop {
        padding: 1rem 0;
        .location,
        .time,
        .phone {
            display: flex;
            flex-direction: column;
        }
    }

    @include tablets {
        margin-bottom: 2rem;

        &__logo {
            width: 9rem;
        }

        .location img,
        .time img,
        .phone img,
        .cart img {
            width: 3rem;
        }

        &__logo,
        .cart {
            display: none;
        }
    }

    &__frame {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 3rem 1rem 3rem;

        @include desktop {
            padding: 1rem;
        }

        @include laptop {
            padding: 1rem 2rem;
        }

        @include tablets {
            padding: 1rem 2rem;
        }
    }

    &__item {
        display: flex;

        img {
            margin-right: 1rem;
            transition: 0.3s ease;
        }

        @include desktop {
            margin-right: 1rem;
            margin-bottom: 1rem;
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
        width: 80%;

        @include laptop {
            justify-content: center;
            flex-wrap: wrap;
            text-align: center;
        }

        @include tablets {
            display: none;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        font-size: 0.8rem;
        color: $mainText;

        @include tablets {
            font-size: 1.1rem;
        }
    }

    &__text-phone {
        display: flex;
        flex-direction: column;
        font-size: 0.8rem;

        span {
            margin-right: 1.5rem;
        }

        @include tablets {
            font-size: 1.1rem;
        }
    }

    &__link-text {
        display: flex;
        flex-direction: column;
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        @include tablets {
            width: 10rem;
        }
    }

    &__link-img {

        &:hover img {
            transform: scale(1.1);
        }
    }
}
