// Class names
$header: header;

// Colors
$mainText: #535353;
$green: #497952;
$white: #ffffff;
$videoBg: #F9EDF0;
$cartBg: #d9e6cc;
$burgerBg: rgba(0, 0, 0, 0.8);

// Sizes
$inside: 2rem 5rem;
$contentPadding: 0 5rem;